---
layout: "default"
---

#bgfx

.col-12-12.white-bg.center.dbl-gutter
	h1.title Jehan Tremback


.navbar#affix
	.navbar-inner.col-12-12.center
		each page in getCollection("html").findAll({category:'top'}).toJSON()
			if page.indexFor == document.relativeOutDirPath
				._item.-active 
					a(href="#{page.url}")
						i.icon-caret-left.text-left
						|#{ page.title }
			else if page.url == document.url
				._item.-active #{ page.title }
			else
				a(href="#{page.url}")
					._item #{ page.title }

.col-12-12.center.white-bg.content
	!{ content }
